.container{
  display: grid;
  grid-template-columns: repeat(var(--num-of-columns), 1fr);
  column-gap: var(--spacing-2);
  row-gap: var(--spacing-2);
  @media (max-width: 768px) {
    grid-template-columns: repeat(calc(var(--num-of-columns) - 2), 1fr);
  }
}
