.container{
  border: 1px solid #bbdeff;
  box-shadow: 0px 0px 5px 0px #ebe8e8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  min-width: 0;
  .product_name{
    margin-bottom: 20px;
    max-height: 30px;
    max-width: 100%;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .product_price{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
    margin-bottom: 20px;
    .price{
      font-size: 13px;
      line-height: 18px;
    }
    .original_price{
      text-decoration: line-through;
    }
    .offered_price{
      color: red;
      text-align: center;
    }
  }
  .product_footer{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: flex-end;
    min-height: 75px;
    .more_info{
      font-size: 13px;
      text-align: center;
      margin:0 0 8px 0;
    }
    .add_button{
      margin-top: 10px;
      font-size: 13px;
    }
  }
  @media (max-width: 768px) {
    padding: 10px;
    .product_name{
      margin-bottom: 10px;
    }
    .product_price{
      margin-bottom: 5px;
    }
    .product_footer{
      min-height: 60px;
      .more_info{
        margin:0 0 5px 0;
      }
      .add_button{
        margin-top: 5px;
      }
    }
  }
}
