.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 768px) {
    border-bottom: 1px solid #eaeaea;
    flex-direction: column-reverse;
    margin-bottom: 25px;
    align-items: center;
    .header_button_actions{
      margin-bottom: 10px;
    }
  }
}
